:root {
    --heading-background-color: #9aa9b7;
    --heading-text-color: #47443d;
    --heading-font: 'dancing script', 'qwitcher grypen', sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(0, 0, 0, 0.1);
    --background-color: #84857e;
    --width: 1200px;
    --body-text: 'oxygen', 'montserrat', sans-serif;
    --heading2-font: 'qwitcher grypen', 'dancing script', sans serif;
    --heading2-text-color: #053da3;
    --heading2-font-size: 100rem;
    --heading-text-size: 45px;
}
* {
    box-sizing: border-box;
}

body {
    font-family: var(--body-text);
    font-size: 18px;
}

header,
footer,
main {
    max-width: var(--width);
    margin: 0 auto;
}

.hero img {    
    width: 100%;
    height: auto;
}

/*section {
    display: flex;
    flex-direction: column; 
    align-items: center;
}*/
    /*grid-template-columns: repeat(5, 1fr); */ 
.adventures {
    display: grid;
}
  
.adventures h2 {
    font: var(--heading2-font);
    padding: var(--padding);
    color:#47443d;
    margin: 5px;    
}

.hero article {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    background-color: rgba(255, 255, 255, 0.532);
    font-weight: 500;
}

.hero article img {
    float: right;
    width: 200px;
}
header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: aquamarine;   
}

.logo-box {
    width: 100%;
    justify-self: center;
}

nav {
    background-color: var(--heading-background-color);
    padding: var(--padding);
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

nav a:hover {
    color: black;
    background-color: aquamarine;
}

h1, h2 ,h3, h4, h5, h6 {
     font-family: var(--heading-font);
}

img {
    width: 100%;
    height: auto;
}

p {
    padding: 1rem;
}
.guides {
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    background-color:aliceblue;
}

.guides h2 {
    align-items: center;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: aquamarine;
    color:#47443d
    
}
footer p {
    flex-grow: 1;
    text-align: center;
}
footer a {
    margin-left: 20px;
}


.sociallinks img {
   
    width: 65px;
    height: 65px;
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    background-color: #fff;
}



.history h2 {
    grid-column: 1/-1;
    justify-self: center;
    background-color:aliceblue;
    color:#47443d;
    font-family: Arial, Helvetica, sans-serif;
}
.history p:nth-of-type(1) {
    grid-column: 1/5;
}
.history p:nth-of-type(2) {
    grid-column: 8/13;
}
.history img {
    grid-column: 5/8;
}
.history {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
   

.reach {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    background-color:aliceblue;
    
}

.reach h2 {
    padding: 7px;
    margin: 10rem;
    font-weight:600;
    color:#47443d;
    align-items: center;
}




.awaits {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.awaits img {
    max-width: 100%;
}

.user form {
    
}