:root {
    --heading-background-color: #0d4e8b;
    --heading-text-color: #47443d;
    --heading-font: 'dancing script', 'qwitcher grypen', sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(0, 0, 0, 0.1);
    --background-color: aliceblue;
    --width: 1200px;
    --body-text: 'oxygen', 'montserrat', sans-serif;
    --heading2-font: 'qwitcher grypen', 'dancing script', sans serif;
    --heading2-text-color: #053da3;
    --heading2-font-size: 100rem;
    --heading-text-size: 45px;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

body {
    font-family: var(--body-text);
    font-size: 18px;
}

header,
footer,
main {
    max-width: var(--width);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    background-color: #fff;
}

.hero img {    
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    background-color: rgba(255, 255, 255, 0.532);
    font-weight: 700;
}

.hero article img {
    float: right;
    width: 200px;
}
header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: aquamarine;   
}

.logo-box {
    width: 100%;
    justify-self: center;
}
/*Header above*/

/*About Us Page-below*/
nav {
    background-color: var(--heading-background-color);
    padding: var(--padding);
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

nav a:hover {
    color: black;
    background-color: aquamarine;
}

h1, h2 ,h3, h4, h5, h6 {
     font-family: var(--heading-font);
}

img {
    width: 100%;
    height: auto;
}

p {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.sociallinks img {   
    width: 65px;
    height: 65px;
}

.history h2 {
    padding-inline-start: 80px;
    justify-self: start;
    color:#47443d;
    font-family: 'qwitcher grypen', 'dancing spirit', sans serif;
    font-weight: 900;
    font-size: 3em;
}
.history p:nth-of-type(1) {
    grid-column: 1/5;
}
.history p:nth-of-type(2) {
    grid-column: 8/13;
}
.history img {
    grid-column: 5/8;
}
.history {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.adventures {
    display: grid;
}
  
.adventures h2 {
    padding-inline-start: 80px;
    justify-self: start;    
    color:#47443d;
    font-family: 'qwitcher grypen', 'dancing spirit', sans-serif;
    font-weight: 900;
    font-size: 3em;
}

.awaits {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.awaits img {
    max-width: 100%;
}
/*About Us page (above)*/

/*Contact Us page below*/
.guides {
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    background-color:aliceblue;
}

.guides h2 {
    align-items: center;
    padding-inline-start: 80px;
    font-weight: 900;
    font-size: 3em;
}

.reach {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    background-color:aliceblue;
}

.reach h2 {
    padding: 7px;
    margin: 10rem;
    font-weight:600;
    color:#47443d;
    align-items: center;
}

.map {
    flex: 1;
    min-width: 300px;
    margin: 5px;
}

.form {
    background-color:aliceblue;
    font-family:'Times New Roman', Times, serif;
}

.user form {
    background-color:aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
 /*section {
    display: flex;
    flex-direction: column; 
    align-items: center;
}*/
    /*grid-template-columns: repeat(5, 1fr); */ 
/*.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr 2fr;
    margin: 0.3rem 0;
}

.column2 {
    grid-template-columns: 2fr 1fr;
    margin: .5rem 0;
}*/

.submission button:hover {
    background-color: #0d4e8b; 
    color: white; 
    padding: 15px 20px;
    border: none; 
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; 
    transition: background-color 0.3s ease; /* Smooth transition */
}


  /*Contact Us page above*/ 
/* Trips page below*/


/*Trips page above*/

/*Index page below*/
.home {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 5px;
    }

.home img {
    display: grid;
    padding: .1rem;
}
.home figcaption {
    display: grid;
    padding: 1.5rem;
}

.home h2 {
    display: grid;
    margin-left: 3rem;
}

.home p {
    
    margin-left: 11rem;
    font-family: var(--heading1-font);
    font-style: italic;
    font-size: x-large;
    font-weight: 3500;
    color:#031b49;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: aliceblue;
}

button {
    background-color: rgb(248, 249, 250);
    color: #053da3;
    padding: .5rem;
    margin: 1rem;
    box-shadow: #ccc;
    border-radius: 10px;
}

ul {
    margin: 4rem;    
}

.column1 {
    width: 50%;
    float: left;
}

.column2 {
    width: 50%;
    float: right;
}

/*.column3 {
    width: 10%
    float: right;
}*/

label newsletter {
    text-align:right;
    padding: right;
}

label email {
    text-align:right;
    font-family: var(--heading2-font);
    font-weight: 200;
}

input email {
    border-radius: 8px;
    padding: .5rem;
    margin: 1px;
}



/*Index page above*/

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: aquamarine;
    color:#47443d
    
}
footer p {
    flex-grow: 1;
    text-align: center;
}
footer a {
    margin-left: 20px;
}