* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --heading-background-color: #e01717;
    --heading-text-color: #a41212;
    --heading-font: 'Montserrat', helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(0,0,0,0.1);
    --background-color: #e01717;
    --width: 70rem;
    --body-text: 'verdana', 'tahoma', sans-serif;

}
    nav {
    background-color: var(--heading-background-color);
    padding: var(--padding);
    width: var(--width);
}
nav a {
    color: white; display: block; 
    padding: var(--padding);
}
h1 {
    color: var(--heading-text-color);
}
img {
    width: 175px; 
    height: auto; 
    border: var(--border);
    padding: 2px; 
    box-shadow: 0 0 30px gray;
}
p { 
    font-family: var(--body-text);
    padding: 0;} 
main {
    max-width: var(--width);
}
aside {
    width: var(--width);
    margin: 0rem;
    border: var(--border); /* 1 */
    padding: var(--padding);
    background-color: var(--background-color);
    color: #fcfdfd;
    text-align: center;
}
aside img {
    width: 18rem;
    height: auto;
}
main img {
    width: 150px;
    height: auto;  
}
footer {
    margin-top: 15px;
    border-top: 1px solid #bc7c1b;
    text-align: center;
} 