:root {
    --heading-background-color: #e01717;
    --heading-text-color: #a41212;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(0,0,0,0.1);
    --background-color: #e01717;
    --width: 30rem;
}
    nav {
    background-color: var(--heading-background-color);
    padding: var(--padding);
    width: var(--width);
}
nav a {
    color: white; display: block; 
    padding: var(--padding);
}
h1 {
    color: var(--heading-text-color);
}
img {
    width: 175px; 
    height: auto; 
    border: var(--border);
    padding: 2px; 
    box-shadow: 0 0 30px gray;
}
p { padding: 0;}
main {
    max-width: var(--width);
}
aside {
    width: var(--width);
    margin: 1rem;
    border: var(--border); /* 1 */
    padding: var(--padding);
    background-color: var(--background-color);
    color: #fcfdfd;
    text-align: center;
}
aside img {
    width: 18rem;
    height: auto;
}
main img {
    width: 150px;
    height: auto;  
}
footer {
    margin-top: 15px;
    border-top: 1px solid #bc7c1b;
    text-align: center;
} 